*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.navbar-toggler{
    background-color:aliceblue;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    max-width:30px;
}

h1{

    margin: 15px;
    font: 25px'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;

}
a{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}

thead, th:nth-child(2){
    text-align: center;
    vertical-align: middle;
} 

.tablePartidos, thead{
    text-align:center;
    vertical-align:middle;
}


#tbodyP tr td{

    vertical-align: middle;
} 

.tableClasificacion th:nth-child(2), tr td:nth-child(2){
    vertical-align: middle;
    text-align: left;
}

.tableClasificacion tr td:last-child{
    font-weight: bolder;
}

button.accordion-button{
    background-color: #A4C9FE;
    text-align:center;
    display: block;
    text-align: center;
}

.accordion-body img, .card img{
    max-width: 100px;
    text-align: center;
}

.cards{
    display:flex;
}

.card-header{
    background-color: #e7f1ff;
    color: #0c63e4;
}

td[colspan^="7"]{
    background-color: #A4C9FE;
    font-style: oblique;
    font-size: 1.25em;
    padding: 10px 20px;
} 

.containerSpinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spinner-border{
    align-self: center;
    height: 10em;
    width: 10em;
}

@media screen and (max-width: 605px) {

    .container {
        width:100%;
        padding: 0px;
    }

    .tablePartidos th:nth-child(4), .tablePartidos th:nth-child(5){
        display:none;
    }    

    .tablePartidos td:nth-child(6), .tablePartidos td:nth-child(7){
        display:none;  
    } 

    .container #opcionesSeleccion{
        flex-direction: column;
        margin: 4px;
    }

    
    .submitReset #button{
        margin: 10px;
    }

    .submitReset #reiniciar{
        margin: 10px;
    }

    #consultarOpcion{
        gap: 0px 10px;
    }

    .ganadoPerdido{
        justify-content: flex-start;
    }

    .empatadoProximos{
        justify-content: flex-end;
    }

    .tableClasificacion :is(th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6),
    th:nth-child(7), th:nth-child(8), th:nth-child(9)){
        display: none;
    }
 
 
    .tableClasificacion td:not(td:nth-child(1), td:nth-child(2), td:nth-child(10)) {
        display:none;
    }


    .d-flex{
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 1400px) {
    .cards{
        flex-direction: column;
    }

    .tablePartidos tbody td:nth-child(3){
        width: 60px;
        padding: 8px 0px;
    }
}